* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Sofia", sans-serif;
    overflow: hidden;
    height: 100vh;
}

header {
    background: linear-gradient(to bottom, rgb(28, 12, 12), rgb(105, 2, 2));
    font-weight: 600;
    font-size: 22px;
    justify-content: flex-start;
    text-align: center;
    height: 80px;
    overflow: hidden;

}

.form-control {
    margin-left: 500px;
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    float: left;
    width: 20%;
    height: auto;
    overflow-y: auto;
    background: linear-gradient(to top, #000000, rgb(105, 2, 2));
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.custom-horizontal-line {
    border-top: 2px solid #333;
    margin-left: -10px;
}

.options a {
    color: white;
    background-color: rgb(9, 68, 97);
    margin: 1px;
    font-style: italic;
}

.options a:hover {
    color: yellow;
}

.options a h4 {
    font-size: 18px;
}

section {
    float: right;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.4)), url('./assests/6j3B.gif');
    ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.home,
.about,
.offers,
.pizzlist,
.desertlist,
.feedback,
.shops,
.home3,
.footersection {
    border-bottom: 5px solid white;
}

.home {
    width: 100%;
    text-align: center;
    color: Black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 60vh;
}


.home::after {
    content: "";
    backdrop-filter: blur(10px);
}

.home img {
    margin-top: 60px;
    border-radius: 50%;
    border: 10px solid white;
    margin-left: 100px;

}

.home .home-text {
    margin-left: 80px;
    padding-top: 20px;
    margin-right: 60px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        color: rgb(211, 194, 12);
    }
}

.blinking-text {
    animation: blink 4s infinite;

}

.about {
    text-align: center;
    color: #fff;
    padding: 0px 60px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    fill: 100%;

}

.offer {
    padding: 50px;
    display: flex;
    text-align: center;
    animation: moveImages 30s linear 1s infinite running;
    white-space: wrap;
}

.offer img {
    margin: 10px;
    border-radius: 30px;
    border: 5px solid rgb(219, 190, 176);
    width: 100vw;
    object-fit: cover;
}

@keyframes moveImages {
    0% {
        transform: translateX(0);
        margin-left: 1000px;
    }

    100% {
        transform: translateX(-200%);
        margin-left: 0px;
    }
}



.shops {
    color: #fff;
    text-align: center;
    overflow: hidden;
    width: 100%;

}

.shopslist {
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.image {
    margin: 20px;
    position: relative;
    overflow: hidden;
    width: 300px;
}

.image img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border: 5px solid white;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.861);
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.image:hover .overlay {
    transform: translateY(0);
}

.info {
    padding: 20px;
    text-align: center;
}

.pizzlist {
    color: #fff;
    text-align: center;
    margin-bottom: 0%;
}

.desertlist {
    color: #fff;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto 60px;
}

.card {
    width: calc(33.33% - 10px);
    margin-bottom: 80px;
    box-sizing: border-box;
}

.imgcard {
    width: 100%;
    height: 200px;
    border-radius: 50px 0px;
    background-size: cover;
}

.card-title {
    color: yellow;
}

.card-body {
    background-color: black;
    color: floralwhite;
}

/* Feedback rating */
.home3 {
    text-align: center;
    margin: auto;
    padding: 30px 0px;
    width: 100%;
}

.feedbackcard {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}

.bi-star-fill {
    color: #edc967;
}


/* Feedback form  */

.feedback {
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    padding: 60px;
    color: white;
}

.feedback-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 800px;
}

.form-group label {
    margin-bottom: 5px;
    color: white;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #ab4b02;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

.footersection {
    background: rgba(0, 0, 0);
    margin: 0px 0px 30px 0px;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: row;
}

.footersection h2 {
    margin: 30px;
}

.col1,
.col2,
.col3,
.col4 {
    width: 200px;
    margin-top: 40px;
    margin-left: 30px;
}

.col1 p,
.col2 p,
.col3 p,
.col4 p {
    margin: 0px;
}

.col3 .icons {

    font-size: 30px;
    justify-content: space-around;

}

.col1 a,
.col2 a,
.col3 .icons a {
    color: #fff;
}

.col1 a:hover,
.col2 a:hover,
.col3 .icons a:hover {
    color: aqua;
}

footer {

    background: linear-gradient(to bottom, rgb(28, 12, 12), rgb(105, 2, 2));
    color: #fff;
    text-align: center;
    position: fixed;
    padding: 10px 0px;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.page-wrapper {
    overflow: hidden;
}




/* Responsive */
@media (max-width:1440px) {
    body {
        width: 100%;
        height: auto;
    }

    header {
        flex-wrap: wrap;
        display: flex;
        overflow: visible;

    }

    .home {
        width: 100%;
        text-align: center;
        display: flex;
        /* overflow: hidden; */
        height: 38vh;
        flex-direction: column;
    }

    .home img {
        margin-right: 65px;
    }
    .about{
        overflow: visible;
    }
    .blinking-text{
        display: block;
    }

    aside {
        width: 100%;
        height: 10vh;
    }

    section {
        width: 100%;
    }
    .feedback{
        height: 700px;
    }
    .footersection{
        height: 700px;
        width: 100%;
        display: block;
    }
    .page-wrapper {
        overflow: visible;
    }
    
    

}
